html {
   background-color: #000033;
 }
h1 {
  color:#ffffff;
  font-size: 50px;
}

h2 {
  color:#ffffff;
  font-size:20px;
}
main {
  color:#cc66ff;
}


article {
  color:#00ffcc;
}

#h1 {
  font-size: rgba(255, 0, 0, 0.5);px;
}
